/* WEB VIEW */
* {
  margin: 0;
  padding: 0;
  border: 1px solid none;
}


/* CLICK ANYWHERE CURSOR CHANGE TO HAND ON THE PAGE */

/* top */
#top1 {
  width: 100%;
  height: 40px;
  background-color: white;
}

#top2 {
  width: 100%;
  height: 100%;
}

#top2 > .div1,
.div2 {
  width: 50%;
  height: 100%;
}

.topList {
  width: 100px;
  height: 80%;
  margin-left: 40px;
}
.topList > img {
  width: 100%;
}

/* top responsiveness */
@media (max-width: 500px) {
  #top1 {
    display: none;
  }

  #mediaNav {
    width: 100%;
    display: flex;
    height: 50px;
  }

  #mediaNav1,
  #mediaNav2 {
    width: 50%;
    height: 100%;
  }

  /* left side */
  #mediaNav1 {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .topMedia {
    background-color: #e8e8e8;
    padding: 12px 50px !important;
  }

  /* rigth side */
  #mediaNav2 {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
@media (min-width: 500px) {
  #mediaNav {
    display: none !important;
  }
}
/* end of top */

/* navBar */
#navBar {
  width: 100%;
  height: 70px;
  background-color: #ed017f;
}

#navDiv {
  height: 100%;
}

#navList {
  height: 100%;
}

#navList > li {
  margin-left: 20px;
}

.listItem1 > img {
  width: 110px;
  height: 35px;
}

#listItem4 {
  width: 800px !important;
  height: 50px;
}
#input1 {
  width: 90% !important;
  height: 100%;
}
#inputButton {
  width: 10% !important;
  height: 100%;
}

/* navBar responsiveness for small devices*/
@media (max-width: 500px) {
  #navBar {
    background-color: white;
  }
  #navList {
    margin: 0;
    padding: 0 !important;
  }
  #listItem4 {
    width: 90% !important;
  }

  #input1 {
    width: 90% !important;
    border: transparent;
    background-color: #e8e8e8 !important;
  }

  #inputButton {
    width: 10% !important;
    border: transparent !important;
    background-color: #e8e8e8 !important;
  }

  .listItem1,
  .listItem2,
  .listItem3,
  #listItem5,
  .listItem6,
  #listItem7 {
    display: none !important;
  }
}
/* sign up modal */
#signUpModal {
  height: 100vh !important;
  border-radius: 0 !important;
  margin-left: 200px !important;
  margin-top: 0 !important;
}

#modalEmailInput {
  width: 100%;
  height: 40px;
  border-radius: 3px;
}
#small1 {
  margin-right: 280px;
}
#loginButton {
  height: 40px;
  margin-bottom: 70px;
}
#googleApple {
  height: 40px;
  width: 250px;
  border-radius: 3px;
}

/* belowNav */
#belowNav {
  background-color: #94004f;
  height: fit-content;
}
#belowRow {
  display: flex !important;
  justify-content: center !important;
  height: 100%;
}
#belowList > li {
  color: white;
  margin: 0px 15px;
}
.belowNav1 > i {
  font-size: 15px;
  margin-top: 5px;
}
.belowNav2 {
  color: white; /* or choose your own color like #000 or red */
  text-decoration: none; /* removes the underline */
}
.belowNav6 {
  color: white; /* or choose your own color like #000 or red */
  text-decoration: none; /* removes the underline */
}

@media (max-width: 500px) {
  #belowNav {
    display: none;
  }
}
/* end of belowNav */

/* below media nav for small devices */
@media (max-width: 500px) {
  #belowMedia {
    width: 100%;
    height: 80px;
    margin-top: 5px;
  }
  #belowMediaList {
    width: 100%;
  }
  #belowMediaLists {
    width: 50px;
    font-size: 10px;
    height: 50px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #belowMediaLists > i {
    font-size: 20px;
  }
}

@media (min-width: 500px) {
  #belowMedia {
    display: none !important;
  }
}

/* section1 */
#section1 {
  width: 100%;
  height: 240px;
}
/* top */
#sec1Div1 {
  width: 100;
  height: 100px;
}
/* below */
#sec1Div2 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
/* below-below */
#sec1Div3 {
  width: 100%;
  height: 40px;
  background-color: #e2e2e2;
}
/* end of section1 */
/*section1 media for small devices  */
@media (max-width: 500px) {
  #section1 {
    height: 320px;
  }
  #sec1Div2 {
    height: 150px;
    display: flex;
    justify-content: center;
  }
  #belowSelect {
    width: 360px !important;
    margin-left: 20px;
  }
  #belowButtons {
    width: 150px !important;
    margin-left: 5px;
  }
}

/* section2 */
#section2 {
  width: 100%;
  /* height: 1000px; */
  padding: 30px;
}
#sec2List {
  width: 100%;
  height: 100%;
}
#sec2Lists {
  width: 350px;
  z-index: 2;
  height: 220px;
  margin: 10px;
}
#sec2Div1 {
  width: 100%;
  height: 30%;
}
#sec2Div2 {
  width: 100%;
  height: 70%;
  margin-top: 2px;
}
#listIcons {
  border-radius: 100%;
}

/* section2 media for medium  devices */
@media (max-width: 1025px) {
  #section2 {
    padding: 10;
  }
  #sec2Lists {
    width: 280px;
  }
}
/* section2 media for small devices */
@media (max-width: 500px) {
  #section2 {
    padding: 0;
    height: 300px;
  }
  #sec2Div2 {
    display: none;
  }
  #sec2Lists {
    width: 100%;
    height: 80px;
    border: 5px solid #f2f2f2 !important;
  }
  #sec2Div1 > .fa-paper-plane {
    background-color: #ed017f !important;
  }
}

/* below */
#sec9Div2 {
  width: 100%;
  background-color: #2e2e2e;
  height: 25%;
}
#sec9Div2List {
  width: 100%;
  height: 100%;
}

#sec9Div2Lists > i {
  font-size: 15px;
  padding: 10px;
  border-radius: 100%;
}

#Email {
  background-color: lime;
  border-radius: 3px;
  width: 300px;
  height: 50px;
}
#EmailInput {
  height: 100%;
  width: 70%;
  background-color: white;
}
#EmailButton {
  height: 100%;
  width: 30%;
  background-color: #ed017f;
}
/*section9 media for small devices */
@media (max-width: 500px) {
  #section9 {
    display: none;
  }
}

/* section10 */
#section10 {
  width: 100%;
  background-color: black;
  height: 300px;
}
#sec10Div1 {
  display: flex;
  height: 100%;
  width: 100%;
}
#sec10Div1Lists {
  font-size: small;
  color: #b5b5b5;
}
#sec10Div1Lists1 {
  color: #b5b5b5;
  font-size: 15px;
  font-weight: 500;
}
#AndriodSpan > small p {
  color: #b5b5b5;
}
#AppleSpan > small p {
  color: #b5b5b5;
}
#socialMedias > p {
  color: #b5b5b5;
}
#socialMedias > i {
  font-size: 20px;
  padding: 10px;
  border-radius: 100px;
}
/*section10 media for small devices */
@media (max-width: 500px) {
  #section10 {
    display: none;
  }
}
